<section class="row formCreate">
      <section class="card">
        <section class="card-header text-white">
          {{#if editMode}}Edit{{else}}Create{{/if}} a developer
        </section>
        <section class="card-body">
          <form method="POST" action="{{#if editMode}}/edit-developer{{else}}/create-developer{{/if}}">
            <section class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="Name" value="{{#if editMode}}{{developer.name}}{{/if}}" required/>
            </section>
            <section class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="Email" value="{{#if editMode}}{{developer.email}}{{/if}}"  required/>
            </section>
            <section class="mb-3">
              <label for="location" class="form-label">Location</label>
              <input type="text" class="form-control" id="location" name="Location" value="{{#if editMode}}{{developer.location}}{{/if}}"  required/>
            </section>


          {{#if editMode}}

          <input type="hidden" name="developerId" value="{{developer.id}}">
          
          {{/if}}

          <button type="submit" class="btn btn-primary">{{#if editMode}}Edit{{else}}Create{{/if}}</button>
           <a href="/developers" type="button" class="btn btn-warning">Back</a>
        </form>

      </section>
    </section>

    {{!-- {{else}} 

    <h1 class="notcreated text-center">There are not developer created</h1>

    {{/if}} --}}

</section>